In [40]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    'Nome': ['Leticia', 'Danielle', 'Clarissa',
                    'Amanda', 'Eva'],
    'Idade': [28, 30, np.nan, 25, 40],
    'Estado': ['SP', 'MG', 'BA', 'PE', 'CE']
})

df

       Nome  Idade Estado
0   Leticia   28.0     SP
1  Danielle   30.0     MG
2  Clarissa    NaN     BA
3    Amanda   25.0     PE
4       Eva   40.0     CE

In [ ]:
''' Retorna se os valores cujos Estados
      ['SP', 'BA'] estão na lista'''

print([df['Estado'].isin(['SP', 'BA'])])

# Diferenças ??

print(df[df['Estado'].isin(['SP', 'BA'])])

# O primeiro imprime uma lista com uma Series booleana (não filtrado).
# O segundo imprime o DataFrame filtrado com as linhas que satisfazem a condição.

In [ ]:
# Substitui 'SP' por 'BA'
df_replace = df.replace('SP', 'BA')
print(df_replace)

In [ ]:
# Preenche valores NaN
# na coluna 'Idade' com a média das idades
df['Idade'] = df['Idade'].fillna(df['Idade'].mean())

print(df)

       Nome  Idade      Estado
0   Leticia  37.00         NaN
1  Danielle  39.00         NaN
2  Clarissa  39.75       Bahia
3    Amanda  34.00  Pernambuco
4       Eva  49.00       Ceará

In [ ]:
# Mapeia a coluna 'Estado' para nomes completos
map_cidade = {'BA': 'Bahia', 'PE': 'Pernambuco',
                  'CE': 'Ceará'}
df['Estado'] = df['Estado'].map(map_cidade)

print(df)

       Nome  Idade      Estado
0   Leticia   28.0         NaN
1  Danielle   30.0         NaN
2  Clarissa    NaN       Bahia
3    Amanda   25.0  Pernambuco
4       Eva   40.0       Ceará

In [ ]:
# Filtra apenas as colunas 'Nome' e 'Cidade'
print(df.filter(items=['Nome', 'Estado']))

       Nome      Estado
0   Leticia         NaN
1  Danielle         NaN
2  Clarissa       Bahia
3    Amanda  Pernambuco
4       Eva       Ceará

In [ ]:
# Aplica uma função
# que adiciona 1 ano na coluna 'Idade'

df['Idade'] = df['Idade'].apply(lambda x: x + 1)
print(df)

In [ ]:
dados = {
    'Loja': ['A', 'B', 'A', 'B', 'C'],
    'Vendas': [100, 200, 150, 300, 250]
}

In [ ]:
df = pd.DataFrame(dados)

total_por_loja = df.groupby('Loja')['Vendas'].sum()
print(total_por_loja)

In [ ]:
df_ordenado = total_por_loja.sort_values(ascending=False)
print(df_ordenado)

In [ ]:
df_ordenado = df_ordenado.sort_index()
print("\nDepois da ordenação pelo índice:")
print(df_ordenado)

In [ ]:
df = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniel', 'Ludmila', 'Raissa'], #coluna 0
    'Idade': [25, 30, 35, 30, 21, 20],                                 #coluna 1
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo',
                        'Rio de Janeiro', 'Belo Horizonte']            #coluna 2
}, index=['a', 'b', 'c', 'd', 'e', 'f'])
          #0    1    2    3    4    5
# Pega a linha com índice 'b' e a coluna 'Nome'
print(df.loc['b', 'Nome'])  # Resultado: Bruno

# Pega linhas de 'a' até 'b' e colunas 'Nome' e 'Idade'
print(df.loc['d':'f', 'Idade':'Cidade'])

In [ ]:
#df.iloc[{indice},{coluna}]

print(df.iloc[2, 1])  # Resultado: Bruno